.inputContainer {
  display: flex;
  flex-direction: column;
}

.textInput {
  background: none;
  border: 1px solid var(--gray-font-color);
  border-radius: 2px;
  height: 2.5rem;
  color: var(--gray-font-color);
  word-wrap: break-word;
  word-break: break-all;
  resize: none;
}

.textField {
  color: rgba(0, 0, 0, 0);
}

.autocomplete {
  color: "purple";
  border-color: var(--gray-font-color);
}
