.workoutCard {
  background-color: var(--container-color);
  color: #fff;
  margin: 0.75rem 0;
  border-radius: 5px;

  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0.25rem 0;
}

.cardButtons {
  margin-top: auto;
  display: flex;
  align-items: center;
}

.moreInfoLink {
  cursor: pointer;
  margin-right: 2rem;
}
