.primaryButton {
  background-color: #39ff13;
  cursor: pointer;
  color: #000;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 0.75rem;
  padding: 0.25rem 0.75rem;
  margin: 0.25rem 0rem;
}
