#navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  min-width: 20rem;
  width: 20rem;
  background-color: var(--container-color);
  font-size: 1.5rem;
  font-weight: 700;
  height: 100vh;
}

#navbarContainer {
  margin: 1rem 2rem;
}

#linkList {
  padding: 0;
}

#logo > a {
  color: var(--main-color);
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
}

.navLink {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 1rem;
  margin: 1.5rem 0;
}
