.headerTitle {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bodyContainer {
  padding: 1rem 0;
}

.exerciseIndex {
  font-size: 1rem;
}

.imageWapper {
  display: inline-block;
  height: 100%;
}

.imageWrapper img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
