.container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.column {
  background-color: var(--main-color);
  flex: 1;
}

.backgroundImage {
  object-fit: fill;
  background: linear-gradient(to top, #2bff00ba, #2b5320cc),
    url("../../assets/images/login-background.jpg") no-repeat top center;
  background-size: cover;
}
